body {
  font-family: 'Gill Sans', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

#menu {
  font-family: 'Gill Sans', sans-serif;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('https://raw.githubusercontent.com/WED-2023/311394365/main/photos/menu-background.avif');
  background-color: #333;
  z-index: 1000;
  padding: 1% 0;
}

#menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap;
}

#menu li {
  list-style-type: none;
  margin: 0 1%;
}

#menu li a {
  text-decoration: none;
  color: white;
  padding: 1% 2%;
  display: block;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

#menu li a:hover {
  background-color: #555;
  color: rgb(137, 235, 209);
  border-radius: 15px;
}

.section h2 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 2em;
  color: white;
  background: linear-gradient(45deg, #ffffff, #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  position: relative;
  display: inline-block;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

#about {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/about-background.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
  position: relative;
  text-align: right;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  background-color: rgba(255, 255, 224, 0.9);
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container img {
  align-self: flex-start;
  margin-left: 2%;
  width: 30%;
  height: auto;
}

.about-container ul {
  padding-right: 2%;
  list-style-type: disc;
  color: #333;
}

#photos {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/photos-spa-background.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
  position: relative;
}

.flex-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
  gap: 2%;
  width: 96%;
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box;
}

.flex-gallery img {
  width: 100%;
  height: 90%;
  display: block;
  transition: transform 0.3s ease;
}

.flex-gallery img:hover {
  transform: scale(1.3);
}

#playlist {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/plalist-background.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  padding: 2%;
}

iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
}

#like {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/like-background.jpg?raw=true');
  background-size: cover;
  color: white;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

.like-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  max-width: 900px;
  padding: 5px;
  box-sizing: border-box;
}

.like-content h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  margin-bottom: 20px;
}

.like-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/like-background-2.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.fb-like {
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translateY(190%);
}

@media (max-width: 768px) {
  .like-content {
    width: 90%;
    padding: 10px;
  }

  .image-container {
    padding-bottom: 80%;
  }

  .fb-like {
    transform: translateY(150%);
  }
}

@media (max-width: 480px) {
  .like-content {
    width: 100%;
    padding: 10px;
  }

  .image-container {
    padding-bottom: 100%;
  }

  .fb-like {
    transform: translateY(120%);
  }
}

#qrcoder {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/qr-background.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#qrcoder img {
  max-width: 90%;
  height: auto;
}

#contact {
  background-image: url('https://raw.githubusercontent.com/WED-2023/311394365/main/photos/contact-background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2%;
  border-radius: 10px;
}

label {
  margin-top: 2%;
  font-weight: bold;
  color: white;
}

input, textarea, select, button {
  margin-top: 2%;
  padding: 1.5%;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  height: 15vh;
}

button {
  margin-top: 4%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  align-self: center;
  padding: 2%;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  form {
    max-width: 90%;
    padding: 3%;
  }

  input, textarea, select, button {
    font-size: 1.2em;
  }

  button {
    width: 70%;
  }
}

@media (max-width: 480px) {
  form {
    max-width: 95%;
    padding: 5%;
  }

  input, textarea, select, button {
    font-size: 1.4em;
  }

  button {
    width: 80%;
  }
}

#spa {
  background-image: url('https://github.com/WED-2023/311394365/blob/main/photos/photos-spa-background.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
  position: relative;
}

.qa-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qa-container h3 {
  color: #333;
}

.qa-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.qa-container table, .qa-container th, .qa-container td {
  border: 1px solid #ddd;
}

.qa-container th, .qa-container td {
  padding: 10px;
  text-align: center;
  color: black;
}

.qa-container th {
  background-color: #3cd7cf;
  color: white;
}

.qa-container p {
  margin: 15px 0;
  color: #333;
}

@media (max-width: 768px) {
  .qa-container h3 {
    font-size: 1.5em;
  }

  .qa-container p {
    font-size: 1.1em;
  }

  .qa-container table, .qa-container th, .qa-container td {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .qa-container h3 {
    font-size: 1.3em;
  }

  .qa-container p {
    font-size: 1em;
  }

  .qa-container table, .qa-container th, .qa-container td {
    font-size: 0.9em;
  }
}
